@page "/typingpage"
<h1>Typing Page</h1>

<MudGrid id="TypingNoteContainer">
    <MudItem xs="12">
        <MudPaper Class="pa-16 ma-2" Elevation="3">
            <MudText id="TypingNote">
                @TypingNote
            </MudText>
        </MudPaper>
    </MudItem>
    <div >
        <input id="HiddenUserInput" style="display:none" @onkeypress="OnUserTypeEvent" @bind-value="UserInput"/>
    </div>
    <div>
        @UserInput
    </div>

</MudGrid>

