@page "/typingpage"
<h1>Typing Page</h1>

<MudBlazor.MudCard>
    <MudBlazor.MudCardContent>
        <MudBlazor.MudText id="TypingNote">
            @TypingNote
        </MudBlazor.MudText>
    </MudBlazor.MudCardContent>
</MudBlazor.MudCard>
